<mat-toolbar>
  <img
    class="pokemon-logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"
  />

  <div class="search-box">
    <input
      matInput
      class="search-input"
      type="text"
      [(ngModel)]="search"
      (ngModelChange)="searchEvent(search)"
      placeholder="Enter Pokemon name or id..."
    />
    <button
      mat-button
      class="close-button"
      *ngIf="search"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchEvent('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="filter-component">
    <mat-label class="filter">Filter by Type</mat-label>
    <mat-form-field class="form-field">
      <mat-select [(ngModel)]="currentType" (ngModelChange)="onTypeSelected()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let type of types" [value]="type">
          {{ type | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter-component">
    <mat-label class="filter">Filter by Abilities</mat-label>
    <mat-form-field class="form-field">
      <mat-select [(ngModel)]="currentAbilities" (ngModelChange)="onAbilitySelected()" multiple>
          <mat-select-trigger>
              {{currentAbilities ? currentAbilities[0]: ''}}
              <span *ngIf="currentAbilities?.length > 1" class="additional-selection">
                (+{{currentAbilities.length - 1}} {{currentAbilities?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
        <mat-option *ngFor="let ability of abilities" [value]="ability">
          {{ ability | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>
