/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  font-family: 'Lato', sans-serif !important;
}

body {
  margin: 0;
  background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

.pokemon-card {
  min-width: 180px;
  max-width: 400px;
  min-height: 400px;
  color: white;
  background-color: rgb(35, 35, 35);
  display: inline-block;

  &:hover:not(.details) {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    .mat-card-image {
      transform: scale(1.1);
    }
  }

  .mat-card-title {
    font-size: 22px;
    display: inline-flex;
  }

  .background-image {
    background-color: #616161;
    border-radius: 10px;

    .mat-card-image {
      margin-bottom: 0px;
    }
  }

  .id {
    font-size: 22px;
    margin-left: 20px;
    text-align: right;
    display: inline-flex;
  }

  .mat-card-content {
    margin: 0;

    .types {
      display: inline-flex;
      margin: 15px 10px 5px 0px;
      padding: 5px 10px;
      text-shadow: black 1px 1px 1px;
      border-radius: 10px;
      font-size: 15px;
    }
  }
}
