<!-- Show Loading symbol if there are no pokemon or all 151 haven't loaded-->
<div class="loading" *ngIf="!pokemonsLoaded">
  <mat-spinner></mat-spinner>
  LOADING POKEMON....
</div>

<div style="text-align:center">
  <div class="grid-layout" *ngIf="pokemonsLoaded && pokemons">
    <div
      *ngFor="let pokemon of pokemons.results | search: query | typeFilter: typeFilters | abilitiesFilter: abilityFilters">
      <button (click)="openDialogDetails(pokemon)" class="button-pokemon">
        <mat-card class="pokemon-card" *ngIf="pokemon.details">
          <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
          <div class="id">{{ pokemon.id }}</div>
          <div class="background-image">
            <img
              mat-card-image
              src="{{ pokemon.details.sprites.front_default }}"
              alt="photo of {{ pokemon.name }}"
            />
          </div>
          <mat-card-content>
            <div class="content-card">
              <div class="section-title">
                <span>Type: </span>
              </div>
              <div
                *ngFor="let type of pokemon.details.types"
                class="types"
                [style.background]="_getTypeColour(type.type.name)">
                {{ type.type.name | titlecase }}
              </div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="content-card">
              <div class="section-title">
                <span>Weight: </span> <span class="weight">{{ pokemon.details.weight }} Kg.</span>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div class="content-card">
              <div class="section-title">
                <span>Abilities: </span>
              </div>
              <ul class="abilities-list">
                <li *ngFor="let ability of pokemon.details.abilities">{{ ability.ability.name | titlecase }}</li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </button>
    </div>
  </div>
  <mat-paginator class="paginator" 
    [length]="lengthPage"
    [pageSize]="20"
    (page)="getPaginatorData($event)">
  </mat-paginator>
</div>
