<!-- SHOW LOADING SYMBOL IF THERE ARE NO POKEMON OR ALL 151 HAVEN'T LOADED-->
<div *ngIf="!pokemons || pokemons.results.length != 151">
  <mat-spinner></mat-spinner>
</div>

<div style="text-align:center">
  <div class="grid-layout" *ngIf="pokemons && pokemons.results.length == 151">
    <div
      *ngFor="let pokemon of pokemons.results | search: query | filter: filters">
      <mat-card class="pokemon-card" *ngIf="pokemon.details">
        <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
        <div class="id">{{ pokemon.id }}</div>
        <div class="background-image">
          <img
            mat-card-image
            src="{{ pokemon.details.sprites.front_default }}"
            alt="photo of {{ pokemon.name }}"
          />
        </div>
        <mat-card-content>
          <div style="display: block;">
            <div
              *ngFor="let type of pokemon.details.types"
              class="types"
              [style.background]="_getTypeColour(type.type.name)"
            >
              {{ type.type.name | titlecase }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
