.grid-layout {
  padding: 50px 0;
  display: grid;
  max-width: 100%;
  grid-gap: 60px;
  margin: 0 auto 100px auto;
  width: 95%;
  grid-auto-rows: 480px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.content-card {
  display: block;
  text-align: left;
  .section-title {
    margin-top: 16px;
    font-weight: bold;
    .weight{
      font-weight: normal;
    }
  }
}

.paginator {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.button-pokemon {
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  background-color: var(--ui-lightest-gray);
  align-items: stretch;
  border: 1px solid transparent;
  cursor: pointer;  
}

.loading {
  text-align:center;
  margin: 15% 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #673ab7;

  .mat-spinner {
    margin: 20px auto;
  }
}
